@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "ContactIndex";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/CoreBlogTema/css/contact.css" rel='stylesheet' type='text/css' />

<body>
    <!--/main-->
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">@ViewBag.PageContactUs</h3>
        <p class="sub text-center">@ViewBag.PageShareYourThoughtsWithUs</p>
        <div class="contact-map inner-sec">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25383.41791530991!2d40.71121589342861!3d37.32055116004112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400a88c38aaf0afd%3A0x47df20fc47b0f841!2sMardin%2C%20Artuklu%2FMardin!5e0!3m2!1str!2str!4v1660508766647!5m2!1str!2str"
                    class="map" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>@ViewBag.InPageAddress</h6>
                                <p>
                                    Mardin, Türkiye

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>@ViewBag.PageEmail</h6>
                                <p>
                                    <a href="mailto:@ViewBag.epostam"> @ViewBag.epostam</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>@ViewBag.InPageTelephone</h6>
                                <p>@ViewBag.telefonum</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

          @*  @await Html.PartialAsync("~/Views/Contact/Contactpost.cshtml")*@
            <div class="contact_grid_right">
                <form asp-controller="Contact" asp-action="ContactIndex" method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">@ViewBag.InPageYourName</label>
                                <input class="form-control" asp-for="ContactUserName" type="text" placeholder="" required="">
                                @Html.ValidationMessageFor(x => x.ContactUserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">@ViewBag.InPageEMailAddress</label>
                                <input class="form-control" type="email" asp-for="ContactMail" placeholder="" required="">
                                @Html.ValidationMessageFor(x => x.ContactMail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">@ViewBag.InPageSubject</label>
                                <input class="form-control" type="text" asp-for="ContactSubject" placeholder="" required="">
                                @Html.ValidationMessageFor(x => x.ContactSubject, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">@ViewBag.InPageYourMessage</label>
                                <textarea id="textarea" asp-for="ContactMessage" placeholder=""></textarea>
                                @Html.ValidationMessageFor(x => x.ContactMessage, "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" class="form-control" value="@ViewBag.InPageSubmit" />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//main-->
</body>
