@using DataAccsessLayer.Concrete;
@model SearchViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Arama Sonuçları</h1>
<p>
    "<strong>@Model.Query</strong>" kelimesine göre arama yaptınız ve aşağıdaki sonuçlar bulundu:
</p>

@*<ul>

    @foreach (var post in Model.Results)
    {
    <li>
    <a href="/Blog/BlogReadAll/@post.BlogId">@post.BlogTitle</a>
    </li>
    }
</ul>*@

<section class="main-content-w3layouts-agileits">
    <div class="container">
       @* <h3 class="tittle">Bloglar</h3>*@
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model.Results)
                    {
                         Context c = new Context();
                        
                        var ahey = c.Blogs.Where(x => x.BlogTitle == item.BlogTitle).Select(x => x.Category.CategorName).FirstOrDefault();
                ViewBag.oha = ahey;


                        <div class="col-lg-4 card">
                            <a href="/Blog/BlogReadAll/@item.BlogId/">
                                <img src="@item.Image" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                                        </a>
                                    </li>
                                    @*<li class="mx-2">
                                <a href="#">
                                <i class="far fa-comment"></i> @ViewBag.yorumcount
                                </a>
                                </li>*@
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-eye"></i>@ViewBag.oha
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@item.BlogId/">@item.BlogTitle</a>
                                </h5>
                                <p class="card-text mb-3">@Html.Raw(item.BlogContent.Substring(0, item.BlogContent.Substring(0, 150).LastIndexOf(" "))) ... </p>
                                <a href="/Blog/BlogReadAll/@item.BlogId/" class="btn btn-primary read-m">Devamını Oku</a>
                            </div>
                        </div>
                        <br />
                    }
                    <br />

                </div>
                <br />
                <br />
               @* @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))*@
            </div>
        </div>
    </div>
</section>