

@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "HasanBozkus | Anasayfa";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="tr">
<body>
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3>
                            @ViewBag.PageAbout
                            <span></span>
                        </h3>
                        <div class="read">
                            <a href="/About/AboutIndex/" class="btn btn-primary read-m">@ViewBag.InPageMore</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item2">
                    <div class="carousel-caption">
                        <h3>
                            @ViewBag.InPageOurBlogs 
                            <span>C#</span>
                        </h3>
                        <div class="read">
                            <a href="/Blog/Index/" class="btn btn-primary read-m">@ViewBag.InPageMore</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item3">
                    <div class="carousel-caption">
                        <h3>
                            @ViewBag.InPageSoftwareLanguages
                            <span>Java</span>
                        </h3>
                        <div class="read">
                            <a href="/Blog/Index/" class="btn btn-primary read-m">@ViewBag.InPageMore</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item4">
                    <div class="carousel-caption">
                        <h3>
                            @ViewBag.InPageSoftwareLanguages
                            <span>@ViewBag.InPageAlgorithm</span>
                        </h3>
                        <div class="read">
                            <a href="/Blog/Index/" class="btn btn-primary read-m">@ViewBag.InPageMore</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">@ViewBag.InPagePrev</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">@ViewBag.InPageNext</span>
            </a>
        </div>
    </div>


    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">@ViewBag.PagePinnedBlogs</h3>

            <br />
            <div class="row ">

                <br /> <hr />

                @foreach (var item in Model)
                {
                  
                <div class="col-lg-4 ">

                    <article class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                    <a href="/Blog/BlogReadAll/@item.BlogId">
                                    <img src="@item.Image" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-info-middle">


                            </div>
                        </div>

                        <h3>
                                <a href="/Blog/BlogReadAll/@item.BlogId">@item.BlogTitle </a>
                        </h3>
                        <p>
                            @Html.Raw(item.BlogContent.Substring(0, item.BlogContent.Substring(0, 150).LastIndexOf(" ")))
                        </p>
                            <a href="/Blog/BlogReadAll/@item.BlogId" class="btn btn-primary read-m">@ViewBag.InPageReadMore</a>
                    </article>

                </div>
                }
                <div class="col-12">   @await Component.InvokeAsync("CategoryList") </div>

            </div>
        </div>
    </section>

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="js/bootstrap.js"></script>


</body>

</html>

